<div id="<%= dom_id history %>">
  <p>
    <strong>Project:</strong>
    <%= history.project_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= history.user_id %>
  </p>

  <p>
    <strong>Previous status:</strong>
    <%= history.previous_status %>
  </p>

  <p>
    <strong>New status:</strong>
    <%= history.new_status %>
  </p>

</div>
